chromadb==1.5.9
dashscope==1.27.6
langchain==1.4.2
langchain-community==0.4.2
langchain-core==1.6.4
langchain-mcp-adapters==0.3.2
langchain-openai==1.6.4
langchain-text-splitters==1.1.2
langgraph==1.2.12
langsmith==0.14.0
python-dotenv==1.2.3
streamlit==1.64.0
